.container__header {
	color: #010048;
	text-align: center;
	display: block;
}



.container__tooltip {
  position: absolute;	
  text-align: center;	
  width: 80px;	
  height: auto;		
  padding: 2px;	
  font: 15px sans-serif;	
  background: white;	
  border: 2px solid #999;
  border-radius: 7px;
  font-size: 13px;
}

.container__regionname {
	background: white;
	border-radius: 10%;
	visibility: 0.7;
	font-size: 16px;
	color: #010048;
}


.info {
	/*width: 400px;*/
	/*padding-right: 5%;*/
	/*height: 100px;*/
	color: #010048;
	text-align: center;
	/*position: fixed;*/
	background: white;
	border-radius: 5%;
	margin-bottom: 10px;
	/*bottom: 0px;*/
	/*right: 10px;*/
	
}

.info__value {
	display: inline;
}

.info__ref {
	/*margin-top: 15px;*/
	color: #777;
	font-size: 12px;
	font-style: italic;
}

.info__link {
	text-decoration: none;
}