div.tooltip {
  position: absolute;	
  text-align: center;	
  width: 80px;	
  height: auto;		
  padding: 2px;	
  font: 15px sans-serif;	
  background: white;	
  border: 2px solid #999;
  border-radius: 7px;
  font-size: 11px;
 /*  pointer-events: none;	This line needs to be removed */
}

header {
	color: #010048;
	text-align: center;
}

div.maxmin {
	width: 400px;
	float: right;
	padding-right: 5%;
	height: 100px;
	color: #010048;
}

div.maxminval {
	display: block;
}
